.error_wrapper {
  text-align: center;
  margin: 40px auto;
}

.btn {
  border-radius: 20px;
  border: 0;
  padding: 7px 20px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  margin-top: 10px;
  font-size: .9em;
}