.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

label {
  margin: 0 0 6px 0;
  font-size: 1rem;
  color: #000;
}

input,
textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.error {
  color: red;
  font-size: .9em;
}
